API_KEY=
TERMINAL_GROUP_API_KEY_GROUP_DEFAULT=
CLOUD_POS_TERMINAL_GROUP_ID=Default
CLOUD_POS_TERMINAL_ID=
CLOUD_POS_ORDER_ID=
POS_ORDER_ID=
E2E_API_KEY=
E2E_BASE_URL=https://testapi.multisafepay.com/v1/
E2E_TERMINAL_GROUP_API_KEY_GROUP_DEFAULT=
E2E_CLOUD_POS_TERMINAL_ID=
